---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <header class="flex items-center justify-center">
      <h1 class="fs-title text-bold text-white">Everyday tools!</h1>
    </header>
    <section class="pt-[24px]">
        <nav class="flex flex-col gap-[1rem]">
      <a href="/px-rem" class="px-[10px] py-[20px] bg-(--bg-input) text-[1.2rem] text-bold text-center rounded-[10px] border-2 border-(--border-color)" transition:name="px-rem">
            Px Converter
      </a>
      <a href="/clamp" class="px-[10px] py-[20px] bg-(--bg-input) text-[1.2rem] text-bold text-center rounded-[10px] border-2 border-(--border-color)" transition:name="clamp">
        Responsive Font Sizing
      </a>

      <a href="/console" class="px-[10px] py-[20px] bg-(--bg-input) text-[1.2rem] text-bold text-center rounded-[10px] border-2 border-(--border-color)" transition:name="console">
        JS Console
      </a>
        </nav>
    </section>
</Layout>

