---
import Layout from '../layouts/Layout.astro';
import PxConverter from '../components/PxConverter'
---


<Layout>
    <section class="pt-[24px]">
    <h2 class="fs-title-details text-bold text-white" transition:name="px-rem">Px Converter</h2>
    <PxConverter client:load/>
  </section>
</Layout>
