.section {
  --gap: 2rem;

  width: 100%;
  padding-block: 48px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.rootInput {
  max-width: 5rem;
  background-color: transparent;
  border: transparent;
  border-radius: 10px;
  color: var(--text-color);

  font-size: var(--input-fs);
  font-weight: 700;
  caret-color: var(--secondary-color);
}

.rootBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 1 / -1;
  justify-self: center;
}

.svg path {
  fill: var(--text-color);
}

.test {
  width: 96px;
  height: 96px;
}

.switchIcon path {
  fill: var(--text-color);
}

.switchBtn {
  width: 5rem;
  height: 5rem;
}

.button,
.switchBtn {
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding-block: 6px;
  padding-inline: 6px;
  border-radius: 5px;
}

.button:focus-visible {
  outline: transparent;
}

.switchBtn:focus-visible {
  outline: 2px solid var(--secondary-color);
}

.selectTrigger {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: fit-content;
  font-weight: 700;

  padding-block: 7px;
  padding-inline: 10px;
  background-color: var(--clr-green-400);

  border: transparent;
  border-radius: 4px;
  color: var(--clr-black-600);
}

.selectTriggerResult {
  width: 5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;

  padding-block: 7px;
  padding-inline: 10px;
  background-color: var(--clr-green-400);

  border: transparent;
  border-radius: 4px;
  color: var(--clr-black-600);

  order: 2;
}

.selectTrigger:focus-visible,
.selectTriggerResult:focus-visible {
  outline: 2px solid var(--secondary-color);
}

.selectTrigger svg,
.selectTriggerResult svg {
  margin-inline-start: auto;
}

.selectContent {
  --rigth-space: 24px;

  position: relative;
  right: var(--rigth-space);
  background-color: var(--bg-input);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-inline: 10px;
  padding-block: 14px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.selectItem {
  cursor: pointer;
  padding-inline: 6px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
}

.selectItem:hover {
  outline: none;
}

.selectItem:focus-visible {
  outline: none;
}

.wrapper {
  --gap: 0.5rem;
  display: grid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 14px;
  padding-block: 14px;
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-input);
  border-radius: 10px;
}

.label {
  position: absolute;
  right: 0;
  padding-block: 10px;
  padding-inline-end: 10px;
}

.copyBtn {
  order: 3;
}

.copyBtn:focus-visible {
  outline: 2px solid var(--secondary-color);
}

.input {
  min-height: 50px;
  background-color: var(--bg-input);
  border: none;
  /* padding-inline: 10px;
  padding-block: 14px; */
  border-radius: 8px;
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--input-fs);
  caret-color: var(--secondary-color);
}

.input:read-only {
  cursor: default;
}

/* .input:read-only:focus-visible {
  outline: 2px solid var(--border-color);
} */

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rootInput[type="number"]::-webkit-inner-spin-button,
.rootInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.rootInput[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.input:focus-visible,
.rootInput:focus-visible {
  outline: transparent;
}

.alignCenter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.codeBox {
  border-radius: 8px;
  padding-inline: 10px;
  padding-block: 8px;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-green-400);
  color: var(--clr-black-600);
}

.codeBox .svg path {
  fill: var(--clr-black-600);
}

.tooltipContent {
  background-color: var(--clr-green-400);
  color: var(--clr-black-600);
  padding-inline: 10px;
  border-radius: 5px;
}

.tooltipContent small {
  font-size: 0.75rem;
  line-height: 2;
}

.valueResult {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  margin-inline-end: auto;

  order: 1;
}

.clampResultWrapper {
  background-color: var(--bg-input);
  border: transparent;
  padding-inline: 10px;
  padding-block: 14px;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--input-fs);
  caret-color: var(--secondary-color);

  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.resultWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--text-color);
  background-color: var(--bg-input);
  border: transparent;
  padding-inline-start: 10px;
  padding-inline-end: 5px;
  padding-block: 6px;
  border-radius: 8px;
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--input-fs);
  caret-color: var(--secondary-color);
}

@media (min-width: 48rem) {
  .wrapper {
    flex-direction: row;
  }
}
