---
import { ClientRouter } from "astro:transitions";
import {Toaster} from '../sonner.tsx'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
	</head>
  <body>
    <Toaster position="top-right" visibleToasts={1} client:load/>
    <header
      class="app-container sticky top-0 z-10 flex items-center gap-3 bg-black-700 py-[20px] h-[5rem]"
    >
    <h2
      class="mr-auto inline-flex cursor-pointer items-center gap-2 text-[1.25rem] font-bold tracking-[-0.020625em] text-[#014DFD] md:mr-0"
    >
      Jean Ruiz
    </h2>
    </header>
    <main class="app-container">
		  <slot />
    </main>
	</body>
</html>

<style is:global>
@import "../styles/global.css";
</style>

